<div class="w-full h-full overflow-y-auto">
    <div class="flex gap-5 flex-wrap">
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Input switch basic
            </span>
            <div class="p-fluid">
                <p-inputSwitch [(ngModel)]="checked" />
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Reactive Forms
            </span>
            <div class="p-fluid">
                <form [formGroup]="formGroup"></form>
                <p-inputSwitch formControlName="checked" />
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Preselection
            </span>
            <div class="p-fluid">
                <p-inputSwitch [(ngModel)]="checked" />
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Invalid
            </span>
            <div class="p-fluid">
                <p-inputSwitch [(ngModel)]="checked" class="ng-dirty ng-invalid" />
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Disabled
            </span>
            <div class="p-fluid">
                <p-inputSwitch [(ngModel)]="checked" [disabled]="true" />
            </div>
        </div>
    </div>
</div>