<div class="w-full h-full overflow-y-auto">
    <div class="flex gap-5 flex-wrap">
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Ripple
            </span>
            <div class="card card-container flex justify-content-center align-items-center">
                <div pRipple
                    class="card text-primary bg-primary flex select-none justify-content-center align-items-center shadow-2">
                    Default
                </div>
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Custom
            </span>
            <div class="card card-container flex justify-content-center align-items-center">
                <div pRipple class="card styled-box-green shadow-2">
                    Green
                </div>
                <div pRipple class="card styled-box-orange shadow-2">
                    Orange
                </div>
                <div pRipple class="card styled-box-purple shadow-2">
                    Purple
                </div>
            </div>
        </div>
    </div>
</div>