<div class="w-full h-full overflow-y-auto">
    <div class="flex gap-5 flex-wrap">
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Float label basic
            </span>
            <div class="card">
                <p>Enter "<strong>date</strong>" to display the current date,
                    "<strong>greet &#123;0&#125;</strong>" for a message and "<strong>random</strong>"
                    to get a random number.</p>
                <p-terminal welcomeMessage="Welcome to PrimeNG" prompt="primeng $" />
            </div>
        </div>
    </div>
</div>