<div class="w-full w-screen">
    <p-splitter [panelSizes]="[20, 80]" [style]="{ height: '100%' }" styleClass="mx-7 my-4 border-none">
        <ng-template pTemplate>
            <div class="card w-full">
                <p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 42px)' }">
                    <app-side-menu></app-side-menu>
                </p-scrollPanel>
            </div>
        </ng-template>
        <ng-template pTemplate>
            <p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 42px)' }">
                <router-outlet></router-outlet>
            </p-scrollPanel>
        </ng-template>
    </p-splitter>
</div>