<div class="w-full h-full overflow-y-auto">
    <div class="flex gap-5 flex-wrap">
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Dynamic dialog basic
            </span>
            <div class="card flex justify-content-center">
                <p-toast />
                <p-button (onClick)="show()" icon="pi pi-search" label="Dynamic dialog basic" />
            </div>
        </div>
    </div>
</div>