<div class="w-full h-full overflow-y-auto">
    <div class="flex gap-5 flex-wrap">
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Tooltip basic
            </span>
            <div class="card flex justify-content-center gap-2 p-fluid">
                <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="right"
                    placeholder="Right" />
                <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="left" placeholder="Left">
                <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="top" placeholder="Top">
                <input type="text" pInputText pTooltip="Enter your username" tooltipPosition="bottom"
                    placeholder="Bottom">
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Event
            </span>
            <div class="card flex justify-content-center">
                <input type="text" pInputText pTooltip="Enter your username" tooltipEvent="focus"
                    placeholder="focus to display tooltip">
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Auto Hide
            </span>
            <div class="card flex flex-wrap justify-content-center gap-2">
                <input type="text" pInputText pTooltip="Enter your username" [autoHide]="false"
                    placeholder="autoHide: false" />
                <input type="text" pInputText pTooltip="Enter your username" placeholder="autoHide: true">
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Delay
            </span>
            <div class="card flex justify-content-center">
                <p-button pTooltip="Confirm to proceed" showDelay="1000" hideDelay="300" label="Save" />
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Custom
            </span>
            <div class="card flex justify-content-center">
                <p-button [pTooltip]="tooltipContent" severity="secondary" tooltipPosition="bottom" label="Button" />
                <ng-template #tooltipContent>
                    <div class="flex align-items-center">
                        <span> <b>PrimeNG</b> rocks! </span>
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Tooltip Options
            </span>
            <div class="card flex justify-content-center">
                <input type="text" pInputText pTooltip="Enter your username" [tooltipOptions]="tooltipOptions"
                    placeholder="hover to display tooltip" />
            </div>
        </div>
    </div>
</div>