<div class="w-full h-full overflow-y-auto">
    <div class="flex gap-5 flex-wrap">
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                BlockUI basic
            </span>
            <div class="card">
                <div class="flex gap-3">
                    <p-button label="Block" (onClick)="blockedPanel = true" />
                    <p-button label="Unblock" (onClick)="blockedPanel = false" />
                </div>
                <p-blockUI [target]="pnl" [blocked]="blockedPanel">
                    <i class="pi pi-lock" style="font-size: 3rem"></i>
                </p-blockUI>
                <p-panel #pnl header="Header" styleClass="mt-4">
                    <p class="m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </p-panel>
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Document
            </span>
            <div class="card">
                <p-blockUI [blocked]="blockedDocument" />
                <p-button label="Block" (onClick)="blockDocument()" />
            </div>
        </div>
    </div>
</div>