<div class="w-full h-full overflow-y-auto">
    <div class="flex gap-5 flex-wrap">
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Badge
            </span>
            <div class="card flex justify-content-center">
                <p-badge [value]="2" />
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Directive
            </span>
            <div class="card flex justify-content-center">
                <i class="pi pi-bell text-3xl" pBadge value="2"></i>
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Severity
            </span>
            <div class="card flex justify-content-center gap-2">
                <p-badge [value]="2" severity="success" />
                <p-badge [value]="9" severity="info" />
                <p-badge [value]="3" severity="warning" />
                <p-badge [value]="12" severity="danger" />
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Size
            </span>
            <div class="card flex justify-content-center">
                <p-badge value="2" />
                <p-badge value="4" badgeSize="large" severity="warning" />
                <p-badge value="6" badgeSize="xlarge" severity="success" />
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Position
            </span>
            <div class="card flex justify-content-center">
                <i class="pi pi-bell mr-4 p-text-secondary" pBadge style="font-size: 2rem" value="2"></i>
                <i class="pi pi-calendar mr-4 p-text-secondary" pBadge style="font-size: 2rem" [value]="'10+'"
                    severity="danger"></i>
                <i class="pi pi-envelope p-text-secondary" pBadge style="font-size: 2rem" severity="danger"></i>
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Button
            </span>
            <div class="card flex flex-wrap justify-content-center gap-2">
                <p-button label="Emails" badge="8" />
                <p-button label="Messages" icon="pi pi-users" severity="secondary" badge="8"
                    badgeClass="p-badge-info" />
            </div>
        </div>
    </div>
</div>