<div class="w-full h-full overflow-y-auto">
    <div class="flex gap-5 flex-wrap">
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Breadcrumb basic
            </span>
            <div class="card flex justify-content-center">
                <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Template
            </span>
            <div class="card flex justify-content-center">
                <p-breadcrumb class="max-w-full" [model]="itemsTemplate" [home]="home">
                    <ng-template pTemplate="item" let-item>
                        <a class="cursor-pointer" [routerLink]="item.url">
                            <i [class]="item.icon"></i>
                        </a>
                    </ng-template>
                    <ng-template pTemplate="separator"> / </ng-template>
                </p-breadcrumb>
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Router
            </span>
            <div class="card flex justify-content-center">
                <p-breadcrumb class="max-w-full" [model]="itemsRouter">
                    <ng-template pTemplate="item" let-item>
                        <ng-container *ngIf="item.route; else elseBlock">
                            <a [routerLink]="item.route" class="p-menuitem-link">
                                <span [ngClass]="[item.icon ? item.icon : '', 'text-color']"></span>
                                <span class="text-primary font-semibold">{{ item.label }}</span>
                            </a>
                        </ng-container>
                        <ng-template #elseBlock>
                            <a [href]="item.url">
                                <span class="text-color">{{ item.label }}</span>
                            </a>
                        </ng-template>
                    </ng-template>
                </p-breadcrumb>
            </div>
        </div>
    </div>
</div>