<div class="w-full h-full overflow-y-auto">
    <div class="flex gap-5 flex-wrap">
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Editor basic
            </span>
            <div class="p-fluid">
                <p-floatLabel>
                    <input id="username" type="text" pInputText [(ngModel)]="value" />
                    <label for="username">Username</label>
                </p-floatLabel>
            </div>
        </div>
    </div>
</div>