<div class="w-full h-full overflow-y-auto">
    <div class="flex gap-5 flex-wrap">
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                MeterGroup basic
            </span>
            <div class="card">
                <p-meterGroup [value]="value" />
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Multiple
            </span>
            <div class="card">
                <p-meterGroup [value]="values" />
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Icon
            </span>
            <div class="card">
                <p-meterGroup [value]="values" />
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Label
            </span>
            <div class="card">
                <p-meterGroup [value]="values" labelPosition="start" labelOrientation="vertical" />
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Vertical
            </span>
            <div class="card flex justify-content-center">
                <p-meterGroup [value]="values" orientation="vertical" labelOrientation="vertical"
                    [style]="{ height: '300px' }" />
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Min Max
            </span>
            <div class="card">
                <p-meterGroup [value]="values" [max]="200" />
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Template
            </span>
            <div class="card">
                <p-meterGroup [value]="values" labelPosition="start">
                    <ng-template pTemplate="label">
                        <div class="flex flex-wrap gap-3">
                            <ng-container *ngFor="let meterItem of values; let index = index">
                                <p-card class="flex-1">
                                    <div class="flex justify-content-between gap-5">
                                        <div class="flex flex-column gap-1">
                                            <span class="text-secondary text-sm">{{ meterItem.label }}</span>
                                            <span class="font-bold text-lg">{{ meterItem.value }}%</span>
                                        </div>
                                        <span
                                            class="w-2rem h-2rem border-circle inline-flex justify-content-center align-items-center text-center"
                                            [style]="{ 'background-color': meterItem.color, color: '#ffffff' }">
                                            <i [class]="meterItem.icon"></i>
                                        </span>
                                    </div>
                                </p-card>
                            </ng-container>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="meter" let-value let-class="class" let-width="size">
                        <span [class]="class"
                            [style]="{ background: 'linear-gradient(to right, ' + value.color1 + ', ' + value.color2 + ')', width: width }"></span>
                    </ng-template>
                    <ng-template pTemplate="start" let-totalPercent="totalPercent">
                        <div class="flex justify-content-between mt-3 mb-2 relative">
                            <span>Storage</span>
                            <span [style]="{ width: totalPercent + '%' }" class="absolute text-right">{{ totalPercent
                                }}%</span>
                            <span class="font-medium">1TB</span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="end">
                        <div class="flex justify-content-between mt-3">
                            <p-button label="Manage Storage" [outlined]="true" size="small" />
                            <p-button label="Update Plan" size="small" />
                        </div>
                    </ng-template>
                </p-meterGroup>
            </div>
        </div>
    </div>
</div>