<div class="w-full h-full overflow-y-auto">
    <div class="flex gap-5 flex-wrap">
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Order list basic
            </span>
            <div class="card xl:flex xl:justify-content-center">
                <p-orderList [value]="products" [listStyle]="{ height: '25rem' }" header="List of Products">
                    <ng-template let-product pTemplate="item">
                        <div class="flex flex-wrap p-2 align-items-center gap-3">
                            <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}"
                                [alt]="product.name" class="w-4rem shadow-2 flex-shrink-0 border-round" />
                            <div class="flex-1 flex flex-column gap-2">
                                <span class="font-bold">{{ product.name }}</span>
                                <div class="flex align-items-center gap-2">
                                    <i class="pi pi-tag text-sm"></i>
                                    <span>
                                        {{ product.category }}
                                    </span>
                                </div>
                            </div>
                            <span class="font-bold text-900">
                                {{ '$' + product.price }}
                            </span>
                        </div>
                    </ng-template>
                </p-orderList>
            </div>
        </div>
    </div>
</div>