<div class="w-full h-full overflow-y-auto">
    <div class="flex gap-5 flex-wrap">
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Color picker Basic
            </span>
            <div>
                <p-colorPicker [(ngModel)]="color" />
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Reactive Forms
            </span>
            <div>
                <form [formGroup]="formGroup">
                    <p-colorPicker formControlName="color" />
                </form>
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Inline
            </span>
            <div>
                <p-colorPicker [(ngModel)]="color" [inline]="true" />
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Format
            </span>
            <div class="flex">
                <div class="flex-auto">
                    <p-colorPicker [(ngModel)]="color" />
                    <span class="font-medium ml-3">HEX</span>
                </div>
                <div class="flex-auto">
                    <p-colorPicker [(ngModel)]="color" format="rgb" />
                    <span class="font-medium ml-3">RGB</span>
                </div>
                <div class="flex-auto">
                    <p-colorPicker [(ngModel)]="color" format="hsb" />
                    <span class="font-medium ml-3">HSB</span>
                </div>
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Disabled
            </span>
            <div>
                <p-colorPicker [(ngModel)]="color" [disabled]="true" />
            </div>
        </div>
    </div>
</div>