<div class="w-full h-full overflow-y-auto">
    <div class="flex gap-5 flex-wrap">
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Scrolltop basic
            </span>
            <div class="card flex flex-column align-items-center">
                <p>Scroll down the page to display the ScrollTo component.</p>
                <i class="pi pi-angle-down fadeout animation-duration-1000 animation-iteration-infinite"
                    style="fontsize: 2rem"></i>
                <p-scrollTop />
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Target Element
            </span>
            <div class="card">
                <div style="width: 250px; height: 200px; overflow: auto">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Vitae et leo duis ut diam. Ultricies mi quis hendrerit dolor
                        magna eget est lorem. Amet consectetur
                        adipiscing elit ut. Nam libero justo laoreet sit amet. Pharetra massa massa ultricies mi quis
                        hendrerit dolor magna. Est ultricies integer quis auctor elit sed vulputate. Consequat ac felis
                        donec et. Tellus orci ac auctor augue
                        mauris. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus a. Tincidunt arcu non
                        sodales neque sodales. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices.
                        Sodales ut etiam sit amet nisl purus.
                        Cursus sit amet dictum sit amet. Tristique senectus et netus et malesuada fames ac turpis
                        egestas. Et tortor consequat id porta nibh venenatis cras sed. Diam maecenas ultricies mi eget
                        mauris. Eget egestas purus viverra accumsan
                        in nisl nisi. Suscipit adipiscing bibendum est ultricies integer. Mattis aliquam faucibus purus
                        in massa tempor nec.
                    </p>
                    <p-scrollTop target="parent" styleClass="custom-scrolltop" [threshold]="100"
                        icon="pi pi-arrow-up" />
                </div>
            </div>
        </div>
    </div>
</div>