<div class="w-full h-full overflow-y-auto">
    <div class="flex gap-5 flex-wrap">
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                OverlayPanel basic
            </span>
            <div class="card flex justify-content-center">
                <p-button (onClick)="oc.toggle($event)" icon="pi pi-share-alt" label="Share" />
                <p-overlayPanel #oc>
                    <div class="flex flex-column gap-3 w-25rem">
                        <div>
                            <span class="font-medium text-900 block mb-2">Share this document</span>
                            <p-inputGroup>
                                <input pInputText value="https://primeng.org/12323ff26t2g243g423g234gg52hy25XADXAG3"
                                    readonly class="w-25rem" />
                                <p-inputGroupAddon>
                                    <i class="pi pi-copy"></i>
                                </p-inputGroupAddon>
                            </p-inputGroup>
                        </div>
                        <div>
                            <span class="font-medium text-900 block mb-2">Invite Member</span>
                            <div class="flex">
                                <p-chips disabled />
                                <p-button label="Invite" icon="pi pi-users" />
                            </div>
                        </div>
                        <div>
                            <span class="font-medium text-900 block mb-2">Team Members</span>
                            <ul class="list-none p-0 m-0 flex flex-column gap-3">
                                <li *ngFor="let member of members" class="flex align-items-center gap-2">
                                    <img [src]="'https://primefaces.org/cdn/primeng/images/demo/avatar/' + member.image"
                                        style="width: 32px" />
                                    <div>
                                        <span class="font-medium">{{ member.name }}</span>
                                        <div class="text-sm text-color-secondary">{{ member.email }}</div>
                                    </div>
                                    <div class="flex align-items-center gap-2 text-color-secondary ml-auto text-sm">
                                        <span>{{ member.role }}</span>
                                        <i class="pi pi-angle-down"></i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </p-overlayPanel>
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                DataTable
            </span>
            <div class="card flex flex-column align-items-center gap-3">
                <p-toast />
                <p-button (onClick)="op.toggle($event)" icon="pi pi-search"
                    [label]="selectedProduct ? selectedProduct.name : 'Select a Product'" />
                <div *ngIf="selectedProduct" class="p-5 surface-card shadow-2 border-round">
                    <div class="relative">
                        <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ selectedProduct.image }}"
                            [alt]="selectedProduct.name" />
                    </div>
                    <div class="flex align-items-center justify-content-between mt-3 mb-2">
                        <span class="text-900 font-medium text-xl">
                            {{ selectedProduct.name }}
                        </span>
                        <span class="text-900 text-xl ml-3">
                            {{ '$' + selectedProduct.price }}
                        </span>
                    </div>
                    <span class="text-600">
                        {{ selectedProduct.category }}
                    </span>
                </div>
                <p-overlayPanel #op [style]="{ width: '450px' }" [showCloseIcon]="true">
                    <ng-template pTemplate="content">
                        <p-table [value]="products" selectionMode="single" [(selection)]="selectedProduct"
                            (onRowSelect)="onRowSelect($event, op)" [paginator]="true" [rows]="5"
                            responsiveLayout="scroll">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="name">
                                        Name <p-sortIcon field="name" />
                                    </th>
                                    <th>Image</th>
                                    <th pSortableColumn="price">
                                        Price <p-sortIcon field="price" />
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-product>
                                <tr [pSelectableRow]="rowData">
                                    <td>
                                        {{ product.name }}
                                    </td>
                                    <td>
                                        <img src="https://primefaces.org/cdn/primeng/images/demo/product/{{ product.image }}"
                                            [alt]="product.image" class="w-5rem shadow-2" />
                                    </td>
                                    <td>{{ product.price }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </ng-template>
                </p-overlayPanel>
            </div>
        </div>
    </div>
</div>