<div class="w-full h-full overflow-y-auto">
    <div class="flex gap-5 flex-wrap">
        <div class="flex-auto h-fit w-2 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Knob basic
            </span>
            <div>
                <p-knob [(ngModel)]="value" />
            </div>
        </div>
        <div class="flex-auto h-fit w-2 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Reactive Forms
            </span>
            <div>
                <form [formGroup]="formGroup">
                    <p-knob formControlName="value" />
                </form>
            </div>
        </div>
        <div class="flex-auto h-fit w-2 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Min/Max
            </span>
            <div>
                <p-knob [(ngModel)]="value" [min]="-50" [max]="50" />
            </div>
        </div>
        <div class="flex-auto h-fit w-2 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Step
            </span>
            <div>
                <p-knob [(ngModel)]="value" [step]="10" />
            </div>
        </div>
        <div class="flex-auto h-fit w-2 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Template
            </span>
            <div>
                <p-knob [(ngModel)]="value" valueTemplate="{value}%" />
            </div>
        </div>
        <div class="flex-auto h-fit w-2 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Stroke
            </span>
            <div>
                <p-knob [(ngModel)]="value" [strokeWidth]="5" />
            </div>
        </div>
        <div class="flex-auto h-fit w-2 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Size
            </span>
            <div>
                <p-knob [(ngModel)]="value" [size]="200" />
            </div>
        </div>
        <div class="flex-auto h-fit w-2 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Color
            </span>
            <div>
                <p-knob [(ngModel)]="value" valueColor="SlateGray" rangeColor="MediumTurquoise" />
            </div>
        </div>
        <div class="flex-auto h-fit w-2 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Reactive
            </span>
            <div>
                <p-knob [(ngModel)]="reactive" size="150" readonly="true" />
                <div class="flex gap-2">
                    <p-button icon="pi pi-plus" (onClick)="reactive = reactive+1" [disabled]="reactive >= 100" />
                    <p-button icon="pi pi-minus" (onClick)="reactive = reactive-1" [disabled]="reactive <= 0" />
                </div>
            </div>
        </div>
        <div class="flex-auto h-fit w-2 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                ReadOnly
            </span>
            <div>
                <p-knob [(ngModel)]="value" [readonly]="true" />
            </div>
        </div>
        <div class="flex-auto h-fit w-2 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Disabled
            </span>
            <div>
                <p-knob [(ngModel)]="value" [disabled]="true" />
            </div>
        </div>
    </div>
</div>