<div class="w-full h-full overflow-y-auto">
    <div class="flex gap-5 flex-wrap">
        <div class="flex-auto h-fit w-full p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Linear
            </span>
            <div style="height: 500px; position: relative;" class="linear">
                <p-speedDial [model]="items" direction="up" />
                <p-speedDial [model]="items" direction="down" />
                <p-speedDial [model]="items" direction="left" />
                <p-speedDial [model]="items" direction="right" />
            </div>
        </div>
        <div class="flex-auto h-fit w-full p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Circle
            </span>
            <div class="relative">
                <div style="height: 500px" class="flex align-items-center justify-content-center">
                    <p-speedDial [model]="items" type="circle" [radius]="80" buttonClassName="p-button-warning" />
                </div>
            </div>
        </div>
        <div class="flex-auto h-fit w-full p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Semi Circle
            </span>
            <div style="height: 500px; position: relative;" class="semi-circle">
                <p-speedDial [model]="items" direction="up" [radius]="80" type="semi-circle" />
                <p-speedDial [model]="items" direction="down" [radius]="80" type="semi-circle" />
                <p-speedDial [model]="items" direction="left" [radius]="80" type="semi-circle" />
                <p-speedDial [model]="items" direction="right" [radius]="80" type="semi-circle" />
            </div>
        </div>
        <div class="flex-auto h-fit w-full p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Quarter Circle
            </span>
            <div style="height: 500px; position: relative;" class="quarter-circle">
                <p-speedDial [model]="items" [radius]="80" direction="up-left" type="quarter-circle"
                    buttonClassName="p-button-success" />
                <p-speedDial [model]="items" [radius]="80" direction="up-right" type="quarter-circle"
                    buttonClassName="p-button-success" />
                <p-speedDial [model]="items" [radius]="80" direction="down-left" type="quarter-circle"
                    buttonClassName="p-button-success" />
                <p-speedDial [model]="items" [radius]="80" direction="down-right" type="quarter-circle"
                    buttonClassName="p-button-success" />
            </div>
        </div>
        <div class="flex-auto h-fit w-full p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Tooltip
            </span>
            <div style="height: 350px; position: relative;" class="tooltip">
                <p-speedDial [model]="leftTooltipItems" className="speeddial-right" direction="up" />
                <p-speedDial [model]="tooltipItems" className="speeddial-left" direction="up" />
            </div>
        </div>
        <div class="flex-auto h-fit w-full p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Mask
            </span>
            <div style="height: 350px; position: relative;" class="tooltip">
                <p-speedDial [model]="leftTooltipItems" className="speeddial-right" direction="up" [mask]="true" />
            </div>
        </div>
    </div>
</div>
<p-toast />