<div class="w-full h-full overflow-y-auto">
    <div class="flex gap-5 flex-wrap">
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Presets
            </span>
            <div class="flex gap-3">
                <div class="flex-auto p-fluid">
                    <input pInputText pKeyFilter="int" placeholder="Integer" />
                </div>
                <div class="flex-auto p-fluid">
                    <input pInputText pKeyFilter="num" placeholder="Number" />
                </div>
                <div class="flex-auto p-fluid">
                    <input pInputText pKeyFilter="money" placeholder="Money" />
                </div>
                <div class="flex-auto p-fluid">
                    <input pInputText pKeyFilter="hex" placeholder="Hex" />
                </div>
                <div class="flex-auto p-fluid">
                    <input pInputText pKeyFilter="alpha" placeholder="Alphabetic" />
                </div>
                <div class="flex-auto p-fluid">
                    <input pInputText pKeyFilter="alphanum" placeholder="Alphanumeric" />
                </div>
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Regex
            </span>
            <div class="flex gap-3">
                <div class="flex-auto p-fluid">
                    <input pInputText [pKeyFilter]="blockSpace" placeholder="Block Space" />
                </div>
                <div class="flex-auto p-fluid">
                    <input pInputText [pKeyFilter]="blockChars" placeholder="lock < > * !" />
                </div>
            </div>
        </div>
        <div class="flex-auto h-fit w-4 p-3 bg-white border-round-xl">
            <span class="font-semibold text-xl line-height-3 mb-2 block">
                Reactive Forms
            </span>
            <div class="flex p-fluid">
                <form [formGroup]="formGroup">
                    <input pInputText pKeyFilter="int" formControlName="value" />
                </form>
            </div>
        </div>
    </div>
</div>